<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERMFox Portfolio</title>
    <link href="/css/output.css" rel="stylesheet"> <!-- Link Tailwind CSS -->
</head>
<body class="flex flex-col min-h-screen bg-gray-100 dark:bg-slate-800 text-gray-800 dark:text-gray-200 font-sans">
    <!-- Navbar -->
    <%- include('./partials/navbar') %>

    <!-- Main Content -->
    <main class="flex-grow p-8 max-w-5xl mx-auto">
        <section class="mb-12 text-center">
            <h1 class="text-5xl font-bold text-rose-600 mb-4">Community</h1>
            <p class="text-lg text-gray-700 dark:text-gray-200">
                bottom text
            </p>
        </section>

        <!-- Project Cards Section -->
        <section id="project-cards" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-12">
            <div class="bg-white dark:bg-slate-900 p-6 rounded-lg shadow-md">
                <h3 class="text-2xl font-bold mb-2">Starlight Nomads</h3>
                <p class="text-gray-600 dark:text-gray-300 mb-4">
                    Explore our vibrant Star Citizen community and join us in building exciting adventures among the stars.
                </p>
                <a href="https://starlight-nomads.org/" class="text-rose-600 dark:text-purple-600 font-semibold hover:underline">Visit Website &rarr;</a>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>
