<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - ERMFox Portfolio</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-slate-800 text-gray-800 dark:text-gray-200 font-sans">

    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>
</html>
    